{% extends 'index.html' %}

{% block content %}

    <div class="card container text-center" style="width: 100%; padding-top: 1em; margin-top: 3em; margin-bottom: 3em;">
        <div class="card-header modal-title fs-5">
            Remisión de Proveedor número: {{ rem.id }}
        </div>
        <div class="card-body">
            <section class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>DATOS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th >FACTURA NÚMERO:</th>
                            <td>{{ rem.factura_proveedor.compra.id }}</td>
                        </tr>
                        <tr>
                            <th >PROVEEDOR:</th>
                            <td>{{ rem.factura_proveedor.codprov }}</td>
                        </tr>
                        <tr>
                            <th >FECHA DE LA FACTURA:</th>
                            <td>{{ rem.factura_proveedor.compra.fecha }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>

        <table class="container table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Familia</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">DCTO %</th>
                    <th scope="col">Importe</th>
                </tr>        
            </thead>
            
            <tbody>
                {% if articulo_factura %}
                {% for artfac in articulo_factura %}
                <tr scope="row"> 
                    <td>{{ artfac.codproducto.codproducto.familia.nombre }}</td>
                    <td>{{ artfac.codproducto.codproducto.nombre }}</td>
                    <td>{{ artfac.codproducto.codproducto.descripcion }}</td>
                    <td>{{ artfac.codproducto.cantidad }}</td>
                    <td>{{ artfac.codproducto.precio }}</td>
                    <td>{{ artfac.codproducto.dsctoproducto }}</td>
                    <td>{{ artfac.codproducto.importe }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <h4>No se encontraron datos</h4>
                {% endif %}
            </tbody>
        </table>

    </div>
    <div class="container text-center">
        <a type="button" href="{% url 'provrem' %}" class="btn btn-primary">Regresar</a>
    </div>
{% endblock %}