{%extends 'index.html'%}

{% block content %}
<div class='row justify-content-center m-5'>
    <div class="col-md-10 col-lg-5">
      <h4><center>Buscar familia</center></h4>
      <div  class="form-group">
        <form method="post">
            {% csrf_token %}
          {{ busquedaform.as_p }}  
          <div  style="float: right;">
            <button class="btn btn-primary" >Buscar</button>
            <a type="button" class="btn btn-warning" >Limpiar</a>
            <a href="{% url 'aclie' %}" type="button" class="btn btn-success" >Agregar</a>
          </div>                   
        </form>
    </div>
    </div>

<div style="display: flex; justify-content: space-between;">
    <div>
        <p>N de familias encontrados:</p>
    </div>
    <div style="display: flex;">
        <p style="margin:10px;">Mostrados:</p>
        <select style="width: 80px;" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>1-10</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>
<div>
    <h3 style="text-align: center;">Relacion de familias</h3>
</div>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
         
        </tr>        
    </thead>
    
    <tbody>
        {% if familias_list %}
        {% for fam in familias_list %}
        <tr scope="row">
            <td>{{ fma.persona.id }}</td>
            <td>{{ fma.persona.id }}</td>
            <td>{{ fma.persona.nombre }}</td>
       
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ver">Ver</button>
                <a type="button" href="{% url 'edclie' clie.persona.id %}" class="btn btn-success">Editar</a>
                <a type="button" href="{% url 'delclie' clie.persona.id %}" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>No se encontraron datos</h4>
        {% endif %}
    </tbody>
</table>

{% endblock %}