{% extends 'index.html' %}

{% block content %}

    <div class="card container text-center" style="width: 100%; padding-top: 1em; margin-top: 3em; margin-bottom: 3em;">
        <div class="card-header modal-title fs-5">
            {{ fpago_list.nombrefp }}
        </div>
        <div class="card-body">
            <section class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DATOS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">FORMA DE PAGO:</th>
                            <td>{{ fpago_list.nombrefp }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="container text-center">
        <a type="button" href="{% url 'fpago' %}" class="btn btn-primary">Regresar</a>
    </div>
{% endblock %}