{%extends 'index.html'%}

{% block content %}
<section class="container" style="margin-top: 2em">
    <div class="card">
        <div class="card-header">
            Insertar Albaran
        </div>
        <div class="card-body">
            {% if enviado %}
                <p>Albaran fue agregada</p>
                <a class="btn btn-primary" href="{% url 'alb' %}" role="button">Volver</a>
            {% else %}
                <form action="" method="POST" class="row g-3">
                    {% csrf_token %}
                    {{ in_albaranes_per.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar albaran</button>
                </form>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}