{% extends 'index.html' %}

{% block content %}
    <div class="container text-center">
      <h1 class="modal-title fs-5" >{{ clie.persona.nombre }}</h1>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col">NOMBRE: </div>
            <div class="col">{{ clie.persona.nombre }}</div>
        <div class="row">
            <div class="col">DNI: </div>
            <div class="col">{{ clie.persona.dni }}</div>
        </div>
        <div class="row">
            <div class="col">PROVINCIA: </div>
            <div class="col">{{ clie.persona.codprovincia }}</div>
        </div>
        <div class="row">
            <div class="col">LOCALIDAD: </div>
            <div class="col">{{ clie.persona.localidad }}</div>
        </div>
        <div class="row">
            <div class="col">DIRECCION:</div>
            <div class="col">{{ clie.persona.direccion }}</div>
        </div>
        <div class="row">
            <div class="col">CODIGO POSTAL: </div>
            <div class="col">{{ clie.persona.codpostal }}</div>
        </div>
        <div class="row">
            <div class="col">CUENTA BANCARIA: </div>
            <div class="col">{{ clie.persona.cuentabancaria }}</div>
        </div>

        <div class="row">
            <div class="col">FORMA DE PAGO: </div>
            <div class="col">{{ clie.codformapago }}</div>
        </div>
        <div class="row">
            <div class="col">TELEFONO: </div>
            <div class="col">{{ clie.persona.telefono }}</div>
        </div>
        <div class="row">
            <div class="col">CELULAR: </div>
            <div class="col">{{ clie.persona.movil }}</div>
        </div>
        <div class="row">
            <div class="col">WEB: </div>
            <div class="col">{{ clie.persona.web }}</div>
        </div>
    </div>
{% endblock %}