{%extends 'index.html'%}

{% block content %}
<section class="container" style="margin-top: 2em">
    <div class="card">
        <div class="card-header">
            Insertar producto
        </div>
        <div class="card-body">
            {% if enviado %}
                <p>El producto fue agregado</p>
                <a class="btn btn-primary" href="{% url 'prod' %}" role="button">Volver</a>
            {% else %}
                <form action="" method="POST" class="row g-3">
                    {% csrf_token %}
                    NOMBRE:
                    <input class="form-control" type="text" name="nombre_producto" style="margin: 1mm;" />
                    CANTIDAD:
                    <input class="form-control" type="number" name="cantidad_producto" style="margin: 1mm;" />
                    DESCRIPCION:
                    <input class="form-control" type="text" name="descripcion_producto" style="margin: 1mm;" />
                    PRECIO FINAL:
                    <input class="form-control" type="number" name="precio_final_producto" style="margin: 1mm;" />

                    <button type="submit" class="btn btn-primary">Guardar producto</button>
                </form>
            {% endif %}
        </div>
        
    </div>
</section>
{% endblock %}
