{%extends 'index.html'%}

{% block content %}
<section class="container" style="margin-top: 2em">
    <div class="card">
        <div class="card-header">
            Insertar producto
        </div>
        <div class="card-body">
            <form action="" method="POST" class="row g-3">
                {% csrf_token %}
                Agregar artículos a este producto:
                {% if articulos_list %}
                    <select class="form-select" aria-label="Default select example" name="test[]">
                        <option selected>------</option>
                        {% for art in articulos_list %}
                            <option value="{{ art.id }}" id="{{ art.id }}">{{ art.nombre }}</option>
                        {% endfor %}
                    </select>
                    CANTIDAD
                    <input class="form-control" type="number" name="cantidad" style="margin: 1mm;" />
                {% else %}
                    <p>No se encontraron artículos para añadir a este producto</p>
                    <a class="btn btn-primary" href="{% url 'prod' %}" role="button">Regresar</a>
                {% endif %}

                <button type="submit" class="btn btn-primary">Guardar articulo</button>
            </form>
        </div>
        
    </div>
</section>
{% endblock %}
