{% extends 'index.html' %}

{% block content %}

    <div class="card container text-center" style="width: 100%; padding-top: 1em; margin-top: 3em; margin-bottom: 3em;">
        <div class="card-header modal-title fs-5">
            {{ prod.nombre }}
        </div>
        <div class="card-body">
            <section class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DATOS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">NOMBRE:</th>
                            <td>{{ prod.nombre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CANTIDAD:</th>
                            <td>{{ prod.cantidad }}</td>
                        </tr>
                        <tr>
                            <th scope="row">DESCRIPCION:</th>
                            <td>{{ prod.descripcion_producto }}</td>
                        </tr>
                        <tr>
                            <th scope="row">COLOR:</th>
                            <td>{{ prod.color }}</td>
                        </tr>
                        <tr>
                            <th scope="row">TALLA:</th>
                            <td>{{ prod.talla }}</td>
                        </tr>
                        <tr>
                            <th scope="row">PRECIO HORAS:</th>
                            <td>{{ prod.precio_horas_manufactura }}</td>
                        </tr>
                        <tr>
                            <th scope="row">HORAS DE MANUFACTURA:</th>
                            <td>{{ prod.horas_manufactura }}</td>
                        </tr>
                        <tr>
                            <th scope="row">COSTOS EXTRA:</th>
                            <td>{{ prod.costos_extra }}</td>
                        </tr>
                        <tr>
                            <th scope="row">PRECIO INICIAL:</th>
                            <td>{{ prod.precio_inicial }}</td>
                        </tr>
                        <tr>
                            <th scope="row">PRECIO FINAL:</th>
                            <td>{{ prod.precio_final }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <table class="container table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Familia</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Precio Compra</th>
                        <th scope="col">Precio Tienda</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Cantidad</th>
                    </tr>        
                </thead>
                
                <tbody>
                    {% if articulos_list %}
                    {% for artfac in articulos_list %}
                    <tr scope="row"> 
                        <td>{{ artfac.articulo.familia.nombre }}</td>
                        <td>{{ artfac.articulo.nombre }}</td>
                        <td>{{ artfac.articulo.descripcion }}</td>
                        <td>{{ artfac.articulo.precio_compra }}</td>
                        <td>{{ artfac.articulo.precio_tienda }}</td>
                        <td>{{ artfac.articulo.tipo }}</td>
                        <td>{{ artfac.cantidad }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h4>No se encontraron datos</h4>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container text-center">
        <a type="button" href="{% url 'prod' %}" class="btn btn-primary">Regresar</a>
    </div>
{% endblock %}