{% extends 'index.html' %}

{% block content %}

    <div class="card container text-center" style="width: 100%; padding-top: 1em; margin-top: 3em; margin-bottom: 3em;">
        <div class="card-header modal-title fs-5">
            {{ serv.nombre }}
        </div>
        <div class="card-body">
            <section class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DATOS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">NOMBRE:</th>
                            <td>{{ serv.nombre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">TIPO DE TRABAJADOR:</th>
                            <td>{{ serv.contratista.tipo_trabajador }}</td>
                        </tr>
                        <tr>
                            <th scope="row">NOMBRE DEL TRABAJADOR:</th>
                            {% if serv.contratista.persona_id == null %}
                            <td>{{ serv.contratista.empresa.nombre }}</td>
                            {% elif serv.contratista.empresa_id == null %}
                            <td>{{ serv.contratista.persona.nombre }}</td>
                            {% endif %}    
                        </tr>
                        <tr>
                            <th scope="row">DESCRIPCION:</th>
                            <td>{{ serv.descripcion }}</td>
                        </tr>
                        <tr>
                            <th scope="row">PRECIO:</th>
                            <td>{{ serv.precio }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="container text-center">
        <a type="button" href="{% url 'serv' %}" class="btn btn-primary">Regresar</a>
    </div>
{% endblock %}