{% extends 'index.html' %}

{% block content %}

    <div class="card container text-center" style="width: 100%; padding-top: 1em; margin-top: 3em; margin-bottom: 3em;">
        <div class="card-header modal-title fs-5">
            {{ clie.persona.nombre }}
        </div>
        <div class="card-body">
            <section class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">DATOS</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">NOMBRE:</th>
                            <td>{{ clie.persona.nombre }}</td>
                        </tr>
                        <tr>
                            <th scope="row">DNI:</th>
                            <td>{{ clie.persona.dni }}</td>
                        </tr>
                        <tr>
                            <th scope="row">PROVINCIA:</th>
                            <td>{{ clie.persona.codprovincia }}</td>
                        </tr>
                        <tr>
                            <th scope="row">LOCALIDAD:</th>
                            <td>{{ clie.persona.localidad }}</td>
                        </tr>
                        <tr>
                            <th scope="row">DIRECCION:</th>
                            <td>{{ clie.persona.direccion }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CODIGO POSTAL:</th>
                            <td>{{ clie.persona.codpostal }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CUENTA BANCARIA:</th>
                            <td>{{ clie.persona.cuentabancaria }}</td>
                        </tr>
                        <tr>
                            <th scope="row">FORMA DE PAGO:</th>
                            <td>{{ clie.codformapago }}</td>
                        </tr>
                        <tr>
                            <th scope="row">TELEFONO:</th>
                            <td>{{ clie.persona.telefono }}</td>
                        </tr>
                        <tr>
                            <th scope="row">CELULAR:</th>
                            <td>{{ clie.persona.movil }}</td>
                        </tr>
                        <tr>
                            <th scope="row">WEB:</th>
                            <td>{{ clie.persona.web }}</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <div class="container text-center">
        <a type="button" href="{% url 'clie' %}" class="btn btn-primary">Regresar</a>
    </div>
{% endblock %}