{%extends 'index.html'%}

{% block content %}


<div class="main" class="form-group container">
    {% if enviado %}
        <p>Eliminado correctamente</p>
        <a class="btn btn-primary" href="{% url 'clie' %}" role="button">Volver</a> 
    {% else %}
        <section class="card" style="margin: 2em;">
            <form action="" method="POST" style="margin: 2em;">
                {% csrf_token %}
                <h2>¿Estás seguro(a)?</h2>
                <input type="submit" value="Sí" class="btn btn-danger"/>
                <a href="{% url 'fam' %}" class="btn btn-warning"> Cancelar </a>
            </form>
        </section>
    {% endif %}
</div>

{% endblock %}