
{%extends 'index.html'%}

{% block content %}
<section class="container" style="margin-top: 2em">
    <div class="card">
        <div class="card-header">
            Insertar Cliente
        </div>
        <div class="card-body">
            {% if enviado %}
                <p>Persona fue agregado</p>
                {% if reg_porventa %}
                <a class="btn btn-primary" href="{% url 'venta' %}" role="button">Volver</a> 
                {% else %}
                <a class="btn btn-primary" href="{% url 'clie' %}" role="button">Volver</a> 
                {% endif %}
            {% else %}
                <form action="" method="POST" class="row g-3">
                    {% csrf_token %}
                    {{ in_cliente_per.as_p }} 
                    {{ in_cliente.as_p }} 
                    <button type="submit" class="btn btn-primary">Guardar cliente</button>
                </form>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %} 



<!-- <section class="container">
    <div class="card">
        <div class="card-header">
            Insertar Proveedor
        </div>
        <div class="card-body">
            <form class="row g-3">
                {{ nombre_del_formulario }}  
            </form>
        </div>
    </div>
</section> -->
