{%extends 'index.html'%}

{% block content %}
<section class="container">
    <div class="card">
        <div class="card-header">
            Insertar Proveedor
        </div>
        <div class="card-body">
            {% if enviado %}
                Persona fue agregado
            {% else %}
                <form action="" method="POST" class="row g-3">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Agregar" class="btn btn-primary"/>
                </form>   
            {% endif %}
            
        </div>
    </div>
</section>

{% endblock %} 
