{%extends 'index.html'%}

{% block content %}
<div class='container justify-content-center my-3'>
    <h4><center>Orden de Compra</center></h4>
    <form method="POST" class="row gx-0 pb-3 ">
        {% csrf_token %}
        <div class="blockquote col-12">
            <p>{{nombre_factura}}</p>
        </div>
        <!-- CREA UNA NUEVA FACTURA -->
        <div class="col-3">
            <div class="border p-2">
            {{nueva_factura_form}}
            </div>
        </div>
        <div class="col-9">
            <div class="border p-2">
                <div class="row gx-1">
                    <input type="hidden" name="estado_registro" value={{estado_registro}}>
                    <input type="hidden" name="nombre_factura" value="{{nombre_factura}}">
                    <input type="hidden" name="iva_fac" value="{{ iva_factura }}">
                    <label for="codigo_cliente" class="col-12">RUC PROVEEDOR</label>
                    <div class="col-10">
                        <input type="text" class="form-control" name="ruc_prov" id="ruc_prov"  value="{{ruc_prov}}">
                    </div>
                    {% if not estado_registro %}
                        <div class="col-1 d-grid gap-2">
                            <button type="submit" class="btn btn-dark p-0" >
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <div class="col-1 d-grid gap-2">
                            <a class="btn btn-success align-items-center" href="{% url 'aprove' %}?reg_porcomp=True">
                                <i class="bi bi-plus-circle"></i>
                            </a>
                        </div>
                        
                    {% else %}
                        <div class="col-1 d-grid gap-2">
                            <button type="submit" class="btn btn-dark p-0" disabled >
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <div class="col-1 d-grid gap-2">
                            <button class="btn btn-success p-auto" disabled>
                                <i class="bi bi-plus-circle"></i>
                            </button>
                        </div>

                    {% endif %}
                    
                </div>
                <input type="text" class="form-control mt-4" name="nombre_prov" id="nombre_prov" placeholder="NOMBRE PROVEEDOR" value="{{nombre_prov}}" readOnly>
            </div>
        </div>
        {% if estado_registro %}
        <div class="alert alert-success m-0" role="alert">
            {{compra_prov}}
        </div>
        {% endif %}
        <div class="col-12">
            <input type="hidden" name="reg_com_clie" value="{{ruc_prov}}">
            <div class=" d-grid gap-2 border p-2">
            {% if not estado_registro and ruc_prov and nombre_prov != 'RUC INVÁLIDO'%}
            <button type="submit" class="btn btn-primary btn-block" >
            REGISTRO
            </button>
            {% else %}
            <button type="submit" class="btn btn-primary btn-block" disabled >
            REGISTRO
            </button>
            {% endif %}
            </div>
        </div>
    </form>
    <div class="row g-3 pb-3">
        <div class="col-12">
            <form method="POST" class="border p-2">
                <div>
                    <input type="hidden" name="estado_venta" value={{estado_venta}}>
                    <input type="hidden" name="estado_registro" value={{estado_registro}}>
                    <input type="hidden" name="nombre_factura" value="{{nombre_factura}}">
                </div>
                <div class="row">
                    <input type="checkbox" name="valid_prov_form" id="validfac_cliente_list_form" checked hidden/>
                    {% csrf_token %}
                    <div class="col-sm-12 col-lg-6">
                        <input type="text" class="form-control" placeholder="NOMBRE ARTICULO" required name="nomarticulo" value="{{ articulo_venta.nombre }}">
                    </div>
                    <div class="col-sm-4 col-lg-6">
                        <input type="number" class="form-control"  placeholder="CANTIDAD" name="cantidad_art" value="1" required>
                    </div>
                    {% if estado_registro %}
                    <div class="col-md-12 col-lg-12 mt-3">
                        <button type="submit" class=" col-lg-12 btn btn-success btn-block">AGREGAR ARTICULO</button>
                    </div>
                    {% else %}
                    <div class="col-md-12 col-lg-12 mt-3">
                        <button type="submit" class=" col-lg-12 btn btn-success btn-block" disabled>AGREGAR ARTICULO</button>
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<section class="container">
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Familia</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">DCTO %</th>
            <th scope="col">Importe</th>
        </tr>        
    </thead>
    
    <tbody>
        {% if articulo_factura %}
        {% for artfac in articulo_factura %}
        <tr scope="row"> 
            <td>{{ artfac.codproducto.familia.nombre }}</td>
            <td>{{ artfac.codproducto.nombre }}</td>
            <td>{{ artfac.codproducto.descripcion }}</td>
            <td>{{ artfac.cantidad }}</td>
            <td>{{ artfac.precio }}</td>
            <td>{{ artfac.dsctoproducto }}</td>
            <td>{{ artfac.importe }}</td>
            <td>
                <form method="POST">{% csrf_token %}
                    <div>
                        <input type="hidden" name="eliminar_art_compra" value="{{artfac.id}}">
                        <input type="hidden" name="estado_registro" value={{estado_registro}}>
                        <input type="hidden" name="nombre_factura" value="{{nombre_factura}}">
                        <input type="hidden" name="nombre_cliente" value="{{nombre_cliente}}">
                        <input type="hidden" name="dni_cliente" value="{{dni_cliente}}">
                        <input type="hidden" name="mensaje_registro" value="{{mensaje_registro}}">
                        <input type="hidden" name="estado_venta" value={{estado_venta}}>
                    </div>
                    <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash3"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="alert alert-danger" role="alert">
            No se encontraron datos
        </div>
        {% endif %}
    </tbody>
</table>
</section>
<div class='row justify-content-end m-5'>
    <div class="col-md-2 col-lg-2">
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="estado_registro" value={{estado_registro}}>
            <input type="checkbox" name="validfac_finalform" id="validfac_finalform" checked hidden/>
            <input type="hidden" name="nombre_factura" value="{{nombre_factura}}">
            <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">SUBTOTAL</label>
                <input type="number" class="form-control" name="subtotal_fac" value="{{ suma_importe }}" readOnly>
            </div>
            <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">IGV</label>
                <input type="number" class="form-control" name="iva_fac" value="{{ iva_factura }}" readOnly>
            </div>
            <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">PRECIO TOTAL</label>
                <input type="number" class="form-control" name="total_fac" id="total_fac" value="{{ total_fac }}" readOnly>
            </div>

            <div class="d-grid gap-2">
                {% if articulo_factura %}
                <button type="submit" class="btn btn-success mt-2">AGREGAR</button>
                {% else %}
                <button type="submit" class="btn btn-success mt-2" disabled>AGREGAR</button>
                {% endif %}
            </div>
        </form>
        <form method="POST" class="d-grid gap-2">{% csrf_token %}
            <input type="hidden" name="estado_registro" value={{estado_registro}}>
            <input type="hidden" name="nombre_factura" value="{{nombre_factura}}">
            <input type="hidden" class="form-control" name="ruc_prov" id="ruc_prov"  value="{{ruc_prov}}">
            <input type="checkbox" name="cancelado" id="cancelado" checked hidden/>
            <button type="submit" class="btn btn-danger mt-2">CANCELAR</button>
        </form>
    </div>
</div>
{% endblock %}